{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>llune's blog</title>
</head>
<body>
    <div class="content">
    <div class="header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="">
            New  Post
        </a>
        {% endif %}
        <a href="{% url 'post_list' %}"><h2 class="titlefont">llune's blog</h2></a>
        <div class="flex-container">
            <img src="https://99gifshop.neocities.org/items/3/Snake88.gif" alt="">
            <h5>welcome to my corner of the web</h5>
        </div>
        
    </div>

    {% block content %}
        
    {% endblock %}
</div>
</body>
</html>