<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>llune's blog</title>
</head>
<body>
    <div>
        <h2>llune's blog</h2>
    </div>

    {% for post in posts %}
        <div>
            <article>
                <time datetime="">published: {{ post.published_date }}</time>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        </div>
    {% endfor %}
</body>
</html>