body{
    font-family: "IBM Plex Sans", serif;
}

.flex-container{
    display: flex;
    margin: auto;
    width: 50%;
}
.titlefont {
    font-family: "Sixtyfour Convergence", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }

.content{
    background-color: aliceblue;
    width: 50%;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 3%;
}

.header{
    text-align: center;
}

.post{
    width: 60%;
    background-color: rgb(243, 211, 211);
    border-radius: 2%;
    margin: auto;
    padding: 3%;
    margin-top: 2%;
}

.posttitle{
    font-family: "Barriecito", serif;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: deeppink;
}

