body{
    font-family: "Cagliostro", serif;
}

.flex-container{
    display: flex;
    margin: auto;
    width: 50%;
}
.titlefont {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    color: #6B0504;
  }

.content{
    background-color: #DAE378;
    width: 50%;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 3%;
}

.header{
    text-align: center;
}

.post{
    width: 60%;
    background-color: #FBFFFE;
    border-radius: 2%;
    margin: auto;
    padding: 3%;
    margin-top: 2%;
}

.posttitle{
    font-family: "Permanent Marker", serif;
    font-weight: 200;
    color: #576CA8;
}

a{
    text-decoration: none;
    color: #576CA8;
}

.makePost{
    width: 80%;
    margin: auto;
    text-align: center;
}

textarea {
    resize: none;
    width: 80%;
    font-family: "Cagliostro", serif;
    border-radius: 2%;
}

input{
    font-family: "Cagliostro", serif;
    border-radius: 2%;
}

button{
    background-color: #576CA8;
    color: #FBFFFE;
    border: #576CA8;
    font-family: "Cagliostro", serif;
    width: 30%;
    height: 20%;
}

